
/* ----------------------------------------------------------------
     [ Start Contact ] 
-----------------------------------------------------------------*/

.contact{

	.form{

		input,textarea{
			width: 100%;
			padding: 20px 15px;
			background: #fafafa;
			border: 0;
			border-radius: 5px;
			margin-bottom: 10px;
		}

		textarea{
			height: 160px;
			max-height: 160px;
			max-width: 100%;
		}

		button{
			font-size: 15px;
			font-weight: 400;
			padding: 20px 40px;
			color: #fff;
			background: $bg-contact-btn;
			border: 1px solid $border-contact-btn;
			box-shadow: 0px 10px 30px rgba(0,0,0,.2);
			border-radius: 5px;
			margin-top: 15px;
			cursor: pointer;
			transition: all .5s;

			&:hover{
				color: #fff;
				border: 1px solid darken($border-contact-btn,10);
				background: darken($bg-contact-btn,10);
			}
		}
	}
}
