

/* ----------------------------------------------------------------
     [Start Footer ]
-----------------------------------------------------------------*/

footer{
	padding: 80px 0 0;
	
	.item{
		text-align: center;
		margin-bottom: 30px;

		.icon{
			color: #999;
			font-size: 30px;
			margin-bottom: 15px;
		}

		h6{
			font-size: 16px;
			margin-bottom: 10px;
		}

		p{
			font-weight: 400;
			letter-spacing: 1px;
		}
	}

	.sub-footer{
		background: #444;
		padding: 30px 0;
		margin-top: 50px;
	}

	.social{
		margin-bottom: 10px;

		a{
			font-size: 14px;
			margin: 0 10px;
			color: #eee;
		}
	}

	.copy{

		p{
			font-size: 12px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}
}