/* ----------------------------------------------------------------
     [ Start Navbar ]
-----------------------------------------------------------------*/

.navbar{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: transparent;
	z-index: 9;
	min-height: 80px;

	.icon-bar{
		color: #fff;
	}

	.navbar-nav{
  
		.nav-link{
			font-size: 13px;
			font-weight: 500;
			color: #eee;
			letter-spacing: .5px;
			margin: 15px 5px;
			transition: all .5s;
			position: relative;

			&:after{
				content: '';
				width: 30px;
				height: 1px;
				background: #fff;
				position: absolute;
				bottom: -5px;
				opacity: 0;
				left: calc(50% - 15px);
				transition: all .5s;
			}
		}

		.active{

			&:after{
				bottom: 0px;
				opacity: 1;
			}
		}
	}
}

.nav-scroll{
	background: #fff;
	box-shadow: 0px 10px 30px rgba(0,0,0,.05);
	padding: 0;
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	transition: transform .5s;
	transform: translateY(100px);

	.icon-bar{
		color: #222;
	}

	.navbar-nav{

		.nav-link{
			color: #eee;

			@include md-desktop {
				 color:#222;
			}

			&:after{
				background: #222;
			}
		}

		.logo{
			padding: 15px 0;
			color: #111;
		}
	}
}

.logo{
	padding: 15px 0;
	width: 100px;
	color: #fff;
	font-size: 20px;
}