
/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	word-wrap: break-word;

}

body {
	color: #000;
	line-height: 1.3;
	font-weight: 400;
	font-size: 15px;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden !important;
}

p {
	font-size: 14px;
	font-weight: 300;
	color: #8a8a8a;
	line-height: 2;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
}

span, a, a:hover {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.section-padding{
	padding: 120px 0;
}

.section-head{
	margin-bottom: 80px;

	h3{
		font-size: 40px;
		font-weight: 800;
		letter-spacing: 2px;
		margin-bottom: 10px;
	}

	span{
		position: relative;

		&:after, &:before{
			content: '';
			width: 100px;
			height: 3px;
			position: absolute;
			top: 9px;
			background: #555;
		}

		&:after{
			right: 0;
			background: linear-gradient(to right, transparent , #555);
		}

		&:before{
			left: 0;
			background: linear-gradient(to left, transparent , #555);
		}

		i{
			display: inline-block;
			width: 7px;
			height: 7px;
			background: #555;
			transform: rotate(45deg);
			position: relative;
			z-index: 3;
		}
	}
}

/* ----------------------------------------------------------------
     [ End Basics ]
-----------------------------------------------------------------*/
