
/* ----------------------------------------------------------------
     [ Start Blog ]
-----------------------------------------------------------------*/

.blog{

	.item{
		box-shadow: 0px 8px 20px rgba(0,0,0,.05);
		background: #fff;

		.post-img{

			.img{
				overflow: hidden;
			}

			&:hover{

				img{
					transform: scale(1.1,1.1);
				}
			}

			img{
				transition: all .5s;
			}
		}

		.cont{
			padding: 30px;
		}

		.info{
			margin-bottom: 10px;

			a{
				color: #888;
				font-size: 12px;
				margin: 0 5px 5px;

				&:after{
					content: '/';
					position: relative;
					margin-left: 10px;
				}

				&:last-child{

					&:after{
						display: none;
					}
				}
			}
		}

		h6{
			line-height: 2;
			margin-bottom: 15px;
		}
	}
}