

/* ----------------------------------------------------------------
     [Start Hero ]
-----------------------------------------------------------------*/

.hero{
	position: relative;
	
	.hero-img{
		position: relative;

		&:after{
			content: '';
			width: 90%;
			position: absolute;
			top: -200%;
			bottom: -200%;
			left: 0;
			background-image: url(../img/dots.png);
			background-repeat: repeat;
			z-index: -1;
		}

		.img{
			padding: 0 30px 30px 15px;
			position: relative;

			&:before{
				content: '';
				position: absolute;
				top: 30px;
				right: 0;
				left: 45px;
				bottom: 0;
				border: 10px solid #eee;
			}

			img{
				position: relative;
				z-index: 2;
			}
		}
	}

	.content{
		padding-left: 30px;

		h3{
			font-weight: 600;
		}

		span{
			margin: 10px 0 15px;
			color: #555;
			font-weight: 500;
		}

		.skills{

			.skill-item{
				margin-bottom: 20px;

				&:last-child{
					margin-bottom: 0;
				}

				h5{
					font-size: 14px;
					font-weight: 500;
					margin-bottom: 10px;
				}
			}

			.skill-progress{
				width: 100%;
				height: 26px;
				border: 4px solid #f7f7f7;
				background: #f7f7f7;
				border-radius: 20px;
				position: relative;
				box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.08) inset;

				.progres{
					position: absolute;
					height: 100%;
					width: 10%;
					left: 0;
					top: 0;
					background: #111;
					background: linear-gradient(to right, #555 , #111);
					border-radius: 20px;
					transition: all 1.5s;

					&:before{
						content: attr(data-value);
						padding: 3px 10px 2px;
						border-radius: 10px;
						font-size: 10px;
						color: #fff;
						background: #333;
						position: absolute;
						top: -35px;
						right: 0;
					}

					&:after{
						content: "";
					    width: 0;
					    height: 0;
					    border-left: 3px solid transparent;
					    border-right: 3px solid transparent;
					    border-top: 5px solid #333;
					    position: absolute;
					    top: -12px;
					    right: 15px;
					}
				}
			}
		}
	}

	.wave{
		position: absolute;
	    top: -100px;
	    left: -5%;
	    width: 110%;
	    height: 100px;
	    background-image: url(../img/wave.svg);
	    background-size: cover;
	    z-index: 1;
	}
}