

/* ----------------------------------------------------------------
     [ Start Services ]
-----------------------------------------------------------------*/

.services{

	.item{
		padding: 30px;
		background: #fff;
		box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
		border-radius: 5px;

		.icon{
			font-size: 30px;
			margin-bottom: 40px;
			color: #555;
			position: relative;
			z-index: 3;

			&:after{
				content: '';
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: #fafafa;
				background: linear-gradient(to right,transparent, #fafafa);
				position: absolute;
				top: 0;
				left: 5px;
				z-index: -1;
			}
		}

		h6{
			font-size: 16px;
			margin-bottom: 15px;
		}
	}
}
