/* ----------------------------------------------------------------
     [ 06 Start Numbers ]
-----------------------------------------------------------------*/
.numbers {
  padding: 80px 0; }
  .numbers.minimal .icon:after {
    background: rgba(180, 180, 180, 0.2);
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(180, 180, 180, 0.2)));
    background: -webkit-linear-gradient(left, transparent, rgba(180, 180, 180, 0.2));
    background: -o-linear-gradient(left, transparent, rgba(180, 180, 180, 0.2));
    background: linear-gradient(to right, transparent, rgba(180, 180, 180, 0.2)); }
  .numbers.minimal h6 {
    color: #8a8a8a; }
  .numbers .icon {
    font-size: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 3; }
    .numbers .icon:after {
      content: '';
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(250, 250, 250, 0.2);
      background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(250, 250, 250, 0.2)));
      background: -webkit-linear-gradient(left, transparent, rgba(250, 250, 250, 0.2));
      background: -o-linear-gradient(left, transparent, rgba(250, 250, 250, 0.2));
      background: linear-gradient(to right, transparent, rgba(250, 250, 250, 0.2));
      position: absolute;
      top: 0;
      left: 5px;
      z-index: -1; }
  .numbers h4 {
    margin-bottom: 15px; }
  .numbers h6 {
    font-weight: 400; }

/* ----------------------------------------------------------------
     [ End Numbers ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ End Blog ]
-----------------------------------------------------------------*/
