.skill-progress{
    width: 100%;
    height: 26px;
    border: 4px solid #f7f7f7;
    background: #f7f7f7;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.08) inset;

    .progres{
        position: absolute;
        height: 100%;
        width: 10%;
        left: 0;
        top: 0;
        background: #111;
        background: linear-gradient(to right, #555 , #111);
        border-radius: 20px;
        transition: all 1.5s;

        &:before{
            content: attr(data-value);
            padding: 3px 10px 2px;
            border-radius: 10px;
            font-size: 10px;
            color: #fff;
            background: #333;
            position: absolute;
            top: -35px;
            right: 0;
        }

        &:after{
            content: "";
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 5px solid #333;
            position: absolute;
            top: -12px;
            right: 15px;
        }
    }
}

.skill-item{
    margin-bottom: 20px;
    display:block;
    overflow: hidden;
    &:last-child{
        margin-bottom: 0;
    }

    h5{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__etq{
        color: #fff;
        background: #1469aa;
        padding: 6px;
        float: left;
        margin: 0 3% 10px 0;
    }
}
.skill-title{
    color: #000;
    font-size: 1.2rem;
    line-height: 64px;
}