
/* ----------------------------------------------------------------
     [Start Numbers ]
-----------------------------------------------------------------*/

.numbers{
	padding: 80px 0;

	&.minimal{

		.icon{

			&:after{
				background: rgba(180,180,180,.2);
				background: linear-gradient(to right,transparent, rgba(180,180,180,.2));
			}
		}

		h6{
			color: #8a8a8a;
		}
	}

	.icon{
		font-size: 30px;
		margin-bottom: 30px;
		position: relative;
		z-index: 3;

		&:after{
			content: '';
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: rgba(250,250,250,.2);
			background: linear-gradient(to right,transparent, rgba(250,250,250,.2));
			position: absolute;
			top: 0;
			left: 5px;
			z-index: -1;
		}
	}

	h4{
		margin-bottom: 15px;
	}

	h6{
		font-weight: 400;
	}
}
