
@mixin md() {
     @media screen and(min-width:768px) {
         @content;
     }
}
@mixin md-desktop() {
    @media screen and(min-width:993px) {
        @content;
    }
}

@mixin full() {
    @media screen and(min-width:1200px) {
        @content;
    }
}
